body {
    background-color: #003936;
}



.icon-my {
    color: rgb(33, 223, 33);
    border-top: 2px solid rgb(33, 223, 33);
    border-left: 3px solid rgb(33, 223, 33);
}

.bg-nav {
    background-color: #003835;
    padding: 20px;

}

.my-link {
    color: whitesmoke;
    border-bottom: 2px solid green;
    transition: 2s;
}

.dropdown-my {
    background-image: url('/public/media/bg_fullhd.webp');
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-image: url('/public/media/bg_fullhd.webp');
    color: rgb(33, 223, 33);
    border-left: 4px solid green;

}

.my-link:hover {
    color: rgb(33, 223, 33);

    border: 6px solid green;
    transition: 0.5s;
}

.bg-custom {
    background-image: url('/public/media/bg_fullhd.webp');
    background-size: cover;

    background-repeat: no-repeat;
}

.img-custom {
    position: relative;
    right: -23%;
}

.header-carousel-custom {
    position: absolute;
    margin-top: 7%;
    margin-left: 10rem;



}

.title-slide {
    font-size: 7vw;
    color: whitesmoke;
    font-weight: 900;
}

.paragraph-header {
    font-size: 50px;
    color: whitesmoke;
    font-weight: 500;



}



.number-carousel {
    font-size: 20px;
    font-weight: 700;
    color: rgb(33, 223, 33);
}

.text-number {
    font-size: 20px;

}

.card-title-my {
    font-size: 6vw;
    font-weight: 800;
    color: rgb(204, 202, 202);
    margin-top: 3rem;
    margin-bottom: 1rem;

}



.card-img-my-2 {
    border-radius: 48px;
    width: 100%;

}


.image-container {

    overflow: hidden;
    /* Per nascondere lo zoom che va oltre i bordi */

    border-radius: 48px;
}

.image-container img {
    display: block;
    width: 100%;

    transition: transform 0.5s ease, filter 0.5s ease;
    /* Animazione per lo zoom e il filtro */
}

.image-container:hover img {
    transform: scale(1.2);
    /* Effetto zoom (20% in più) */
    filter: brightness(0.85) sepia(0.6) hue-rotate(40deg)
        /* Cambia il colore (puoi sostituire con altre opzioni) */
}




.card-img-my {
    border-radius: 48px;
    width: 100%;
    height: 80vh;



}

.carousel-item {
    position: relative;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    border-radius: 10%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 1;



}

.bg:hover {
    background-color: rgb(81, 255, 0);
}

.bg:focus {
    background-color: rgb(81, 255, 0);

    outline: none;

}

.carousel-caption-custom {
    position: absolute;
    bottom: 39px;


    left: 20px;
    right: 20px;
    z-index: 2;

    color: white;
}

.carousel-caption-custom h2 {
    font-size: 2.3em;
    margin: 0 0 10px;
    font-weight: 900;
}

.carousel-caption-custom p {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}



.highlight {
    color: #00ff00;
    font-size: 28px;


    font-weight: bold;
}



.hero-container {
    background-image: url('/public/media/pets_banner.webp');



    background-repeat: no-repeat;


    position: relative;

    color: white;
    padding: 20px;
    height: 400px;
    border-radius: 50px;

    display: flex;

    justify-content: center;

    align-items: center;
    text-align: center;

}

/* Testo */
.hero-text h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    margin-left: 34rem;
    font-weight: 1000;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 34rem;
    font-weight: 800;
}

.hero-text .highlight {
    color: #00ff00;

    font-weight: bold;
}

/* Pulsante */
.cta-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 34rem;
}

.cta-button:hover {
    background-color: white;
    color: black;
}

.h-custom-animals {
    font-size: 7rem;
    font-weight: 900;
    color: rgba(204, 202, 202, 0.568);
    margin-top: 5rem;

}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    /* Impedisce all'immagine di strabordare */
    position: relative;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover img {
    transform: scale(1.2);
    /* Effetto zoom */
    filter: brightness(0.85) sepia(0.3) hue-rotate(40deg);
    /* Intensifica il filtro */
}

.card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-subtitle {
    position: absolute;
    bottom: 5px;
    left: 15px;
    color: white;
    font-size: 1rem;
}

.li-footer {
    margin-right: 10px;
    text-decoration: none;
    list-style: none;
}

.bg-footer {
    background-color: #003936;
}

.my-btn-animals {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 17px;
    border: 2px #00a500 solid;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    font-weight: 500;
    width: 250px;

}

.my-btn-animals:hover {
    background-color: #00a500;
    color: black;
    font-size: 17px;
    border: 2px rgb(2, 2, 2) solid;
    transition: 0.5s;
    font-weight: 600;


    padding: 10px;
    width: 250px;
    border-radius: 10px;

}

.btn-alphabet {
    color: black;

    padding: 40px;
    font-size: 40px;
    font-weight: 800;
    color: #00a500;
    background-color: rgba(255, 245, 245, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), 0px -2px 4px rgba(255, 255, 255, 0.5);

    width: 100px;
    height: 100px;

}

.btn-alphabet:hover {
    background-color: #00a500;
    color: whitesmoke;
    transition: 0.5s;
}

.h2-custom {
    margin-left: 20rem;
}



.circle-container {
    position: relative;
    width: 600px;
    height: 600px;
    margin-top: 10rem;
}

/* Cerchio centrale grande */
.circle-center {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: url('/public/media/kingdom.webp') no-repeat center/cover;
    border: 10px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Cerchi piccoli */
.circle {
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background: #ddd;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    border-top: 10px solid yellow;
    border-bottom: 10px solid yellow
}

/* Posizionamento dei cerchi piccoli */
.circle:nth-child(1) {
    top: 5%;
    left: -30%;
    transform: translate(-50%, 0);
}

.circle:nth-child(2) {
    top: 80%;
    left: -30%;
    transform: translate(0, -50%);
}

.circle:nth-child(3) {
    top: 80%;
    right: -30%;
    transform: translate(0, -50%);
}

.circle:nth-child(4) {
    bottom: -28%;
    left: 50%;
    transform: translate(-50%, 0);
}

.circle:nth-child(5) {
    top: 5%;
    left: 130%;
    transform: translate(-50%, 0);
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Testo all'interno dei cerchi */
.content {
    position: absolute;
    bottom: 10px;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.circle img:hover {
    transform: scale(1.2);
    /* Zoom */
    filter: brightness(0.85) sepia(0.3) hue-rotate(40deg);
    /* Filtro */
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Animazione fluida */
}

.habitat-section {
    margin-top: 20rem;
}

.personalize-card-habitat {
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 2%;
    overflow: hidden;
    /* Impedisce all'immagine di strabordare */
    position: relative;

}


.card-title-habitat {
    position: absolute;

    left: 1rem;

    bottom: 0.5rem;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}


.my-footer {
    margin-top: 53rem;
}

.h2-habitat {
    font-size: 10rem;
    font-weight: 900;
    color: rgb(204, 202, 202);
    margin-bottom: 6rem;
}



@media (max-width: 767px) {
    .header-carousel-custom {
        text-align: center;
    }

    .carousel-item {
        padding: 20px;
    }

    .title-slide {
        font-size: 2.5rem;
    }

    .paragraph-header {
        font-size: 0.2rem;
        position: relative;

    }

    .number-carousel {
        font-size: 1.5rem;
    }


}

@media (max-width: 767px) {



    .header-carousel-custom {
        position: absolute;
        margin-top: 7%;
        margin-left: -7rem;
    }

    .title-slide {
        font-size: 20px;
        color: whitesmoke;
        font-weight: 900;
    }

    .paragraph-header {
        font-size: 50px;

        font-weight: 300;



    }

    .paragraph-header {
        font-size: 10px;

        font-weight: 300;

    }

    .number-carousel {
        font-size: 10px;
        font-weight: 300;
        color: rgb(33, 223, 33);
    }

    .h2-custom {
        margin-left: 0rem;
        font-size: 60px;

    }

    .circle {

        width: 200px;
        height: 200px;

        background: #ddd;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
        border-top: 10px solid yellow;
        border-bottom: 10px solid yellow
    }

    .circle-container {

        width: 500px;
        height: 800px;

    }

    .circle-center {

        width: 300px;
        height: 300px;

        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: url('/public/media/kingdom.webp') no-repeat center/cover;
        border: 10px solid yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-weight: 00;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }

    .container-circle-my {
        margin-left: 0.1rem;

    }

    .circle:nth-child(1) {
        top: 200%;
        left: 70%;
        transform: translate(-50%, 0);
    }

    .circle:nth-child(2) {
        top: 110%;
        left: 5%;
        transform: translate(0, -50%);
    }

    .circle:nth-child(3) {
        top: 75%;
        right: 5%;
        transform: translate(0, -50%);
    }

    .circle:nth-child(4) {
        top: 130%;
        left: 69%;
        transform: translate(-50%, 0);
    }

    .circle:nth-child(5) {
        top: 165%;
        left: 29%;
        transform: translate(-50%, 0);
    }

    .h-custom-animals {
        font-size: 40px;
    }

    .element {
        display: none;
    }

    .circle-container {
        position: relative;
        width: 390px;
        height: 600px;
    }

    .li-footer {
        margin-right: 3px;
        display: none;
        text-decoration: none;
        list-style: none;
    }





}